/* page.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.post {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.postLink {
  text-decoration: none; /* Remove sublinhado dos links */
  color: inherit; /* Mantém a cor do texto original */
  width: 100%;
  max-width: 600px;
  margin: 10px 
}

.post:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  border-radius: 5px;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  color: #555;
}
